<div class="text-center">
    <div class="btn-group">
        <button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i>
        </button>
        <button class="btn btn-white">1</button>
        <button class="btn btn-white  active">2</button>
        <button class="btn btn-white">3</button>
        <button class="btn btn-white">4</button>
        <button class="btn btn-white">5</button>
        <button class="btn btn-white">6</button>
        <button class="btn btn-white">7</button>
        <button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i>
        </button>
    </div>
</div>